<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for node in items %}
            {% set item = node.item %}
            {% if loop.last %}
                <li class="breadcrumb-item active" aria-current="page">{{ helper.getLabel(item) }}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{{ item|url }}">{{ helper.getLabel(item) }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>
